<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>203</key>
	<string>203 Non-Authorative Information - The product version you are attempting to use is deprecated. Please consult the product documentation page for information on how to use the upgraded product. Deprecated products are EOL&apos;s after a certain period of time - this date is available in the product documentation</string>
	<key>400</key>
	<string>400 Bad Request - On error, the HTTP status code &quot;400 Bad request&quot; is returned along with an error message formatted as HTML.</string>
	<key>401</key>
	<string>401 Unauthorized</string>
	<key>404</key>
	<string>404 Not Found - If the request is OK as such, but the product handler does not have any data to offer, you will normally receive a &quot;404&quot; code. However, these are cases where empty response data (ie. an XML document with no real content) do make sense. In these cases, it can be impossible for the WeatherAPI to see if the input data it gets from the weather models is empty because of an error, or because it really should be empty.</string>
	<key>422</key>
	<string>422 Unprocessable Entity - The HTTP status code &quot;422 Unprocessable Entity&quot; might be returned when the request is syntactically correct, but the semantics of the specified url parameters make it impossible to return data. E.g when you specify a location outside the supported geographical area for the product. (Note: In hindsight this is probably not correct usage of 422 as it is meant for WebDAV, but sometimes it is more important to be consistent than correct.)</string>
	<key>429</key>
	<string>429 Too Many Requests - The HTTP status code &quot;429 Too Many Requests&quot; indicates that the user has sent too many requests in a given amount of time (&quot;rate limiting&quot;). Our Terms of Service state that over 20 requests/second is defined as heavy traffic, which is not allowed without permission.</string>
	<key>499</key>
	<string>499 Client Closed Request - The HTTP status code &quot;499 Client Closed Request&quot; is actually a client error, indicating that the client terminated the connection before the response was finished (presumably due to a timeout).</string>
	<key>500</key>
	<string>500 Internal Server Error - An unspecified error in the API itself. Could possibly indicate a bug in the code (horror!), but more likely a deployment or server problem.</string>
	<key>502</key>
	<string>502 Bad Gateway - The API could not fetch data from the backend, either from disk or one of several internal webservices.</string>
	<key>503</key>
	<string>503 Service Unavailable - The service is currently not operational or functioning properly. Examples include a radar site being down, or a service is not configured.</string>
</dict>
</plist>
